name: Auto PR

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  check-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check Conventional Commits
        uses: webiny/action-conventional-commits@v1.3.0
        with:
          allowed-commit-types: "feat,fix,docs,style,refactor,perf,test,build,ci,chore,revert"
